* {
  margin: 0;
  padding: 0;
}

/* Apply styles to the root element */
.App {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 175px;
}
/* Hide scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
